<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include ('./components/head') %>
</head>
<body>

    <%- include ('./components/nav') %>

    <header>
        <img src="/img/banner.jpg" alt="banner">
    </header>

    <main>

        <section id="cards">

            <h2>Who's who in DC Universe?</h2>

            <% characters.forEach((character) => { %>
                <div class="card">
                    <p><%= character.id %></p>
                    <img src="<%= character.image %>" alt="">
                    <h3><%= character.name %></h3>
                    <p class="alias"><%= character.alias %></p>
                    <p><%= character.powers %></p>
                    <p class="description"><%= character.description %></p>
                    <a id="edit" href="/getById/<%= character.id %>/put">Edit</a>
                    <a id="delete" href="/getById/<%= character.id %>/delete">Delete</a>
                </div>
            <% }) %>
        
        </section>

    </main>

    <% if (characterPut != null) {%>
        <%- include ('./components/modalPut') %>
    <% } %>

    <% if (characterDel != null) {%>
        <%- include ('./components/modalDel') %>
    <% } %>

    <%- include ('./components/footer') %>

</body>
</html>